__pycache__/
training/
launch.sh
*.mp3
pretrained
*.egg-info
*.pth
logs/
wandb/
data
*.tar
test.ipynb
diff_foley_ckpt
core.*
submitit_jobs
data/
generate_samples/
test.ipynb
*.ckpt
.nfs*
lightning_logs/
debug*
*.png
sound_eval/
*.npy
*.mp4
*.mkv
*.wav
failed/
generate_samples_objective_eval*
test_video_gen_use*
generated/
temp.py
video_temp/
webify.py
extract_sound_attributes.ipynb
*.zip
survey/